<section class="top-box">
<h1 class="top-head">ようこそ Bookers へ！</h1>
<diV class="top-text-box">
<p class="top-bookers">Bookers</p>
<p class="top-text">では、さまざまな書籍に関するあなたの意見や</p>
<p class="top-text2">印象を共有し交換する事ができます</p>
<%= link_to 'start', books_path %>
</diV>
</section>