/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-box {
  margin: 33px 0 0 33px;
}

.top-text-box {
  margin: 33px 0 0 33px;
}

.top-bookers {
  font-weight: bold;
  display: inline-block;
}

.top-text {
  display: inline-block;
}

.top-text2 {
  margin: 33px 0 33px 0;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

.index-destroy-message {
  margin: 0 0 33px 33px;
  color: green;
}

table {
  width: 100%;
  margin-top: 20px;
  overflow-wrap: break-word;
  border-spacing: 2px;
  border-collapse: separate;
}

.bookers-form-box {
  margin-top: 20px;
}

.index-errors {
  margin: 15px 0 30px 0;
}

.index-errors-text {
  margin: 0 0 40px 20px;
}

.field {
  margin-top: 15px;
}

.show-box-text {
  margin: 0 0 25px 25px;
}

.show-edit-message {
   color: green;
}

.show-text {
  margin-top: 25px;
}

.show-action {
  display: inline-block;
}

.edit-title, .edit-body {
  margin-top: 10px;
}

.edit-action {
  display: inline-block;
  margin-top: 10px;
}

.partition {
  display: inline-block;
}